<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card">
  <template>
    <style>
      :host {
        display: block;
      }
      .textos-container input, label{
        display: flex;
        flex-direction: column;
        margin: 4px 150px;
        width: 250px;
      }
      .textos-container h1 {
        text-align: center;
      }
      .btn {
        margin: 8px 215px;
        padding: 10px 40px;
        border-radius: 50px;
      }
    </style>
    <div class="textos-container">
      <h1>Confirmation!</h1>
      <label for="">Label</label>
      <input type="text" name="" placeholder="Lorem impsum text info data">
      <label for="">Label</label>
      <input type="text" name="" placeholder="Lorem impsum text info data">
      <label for="">Label</label>
      <input type="text" name="" placeholder="Lorem impsum text info data">
      <button class="btn" type="button" name="button">Boton</button>

      
    </div>
  </template>

  <script>
    /**
     * `information-card`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard extends Polymer.Element {
      static get is() { return 'information-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'information-card'
          }
        };
      }
    }

    window.customElements.define(InformationCard.is, InformationCard);
  </script>
</dom-module>
